body{
    background-color: black;
}
ul{
    display: flex;
  float: right;
}
.myNav{
    display: inline-block;
    margin: 20px;
    background-color: greenyellow;
    padding: 10px 19px;
    list-style: none;
    font-size: 1.2em;
    font-weight: 500;
}
a{
    color: white;
    text-decoration: none;
}
.mouseover{
    display: inline-block;
    margin: 20px;
    background-color: white;
    padding: 15px 24px;
    list-style: none;
    font-size: 1.4em;
    font-weight: 700;
    border-radius: 12px;
}
.mouseover a{
    color: greenyellow;
    text-decoration: none;
}
